/* body {
    background-color: aqua;
} */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-laravel {
    color: indigo;
    font-size: 2rem;
}

.nav-link {
    color: #222 !important;
}